@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    margin: 0 auto;
    text-align: center;
    max-width: 2000px;
}

:root {
  --background: #f5ebe0; 
  --secondary-color: #87a878; 
  --font-family: Arial, sans-serif; 
}

body{
  background-color: var(--background);
}

.talala{
  background-color:var(--secondary-color);
}

.title{
  font-family: "Amatic SC", sans-serif;
  font-size: 60px;
  color: white;
}